{% extends "base_generic.html" %} {% block title %} Liste des questions {% endblock %} {% block navigation %}
<li><a href="#"><i class="fa fa-home"></i> Accueil</a></li>
<li class="active"><a href="#">Toutes les questions</a></li>
{% endblock %} {% block content %} {% load qanda_filters %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <h1><small>Toutes les questions</small></h1>
        <hr>
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="nav-tabs-custom">
            <ul class="nav nav-pills">
                <li>
                    <a data-toggle="tab" {% if all_slug is True %} class="aboutcm-active" {% endif %} href="{% url 'questions' '' %}" aria-controls="pills-all" aria-selected="true"><strong>Toutes les questions</strong></a>
                </li>

                <li>
                    <a data-toggle="tab" {% if interesting_slug is True %} class="aboutcm-active" {% endif %} href="{% url 'questions' 'interesting' %}" aria-controls="pills-interesting" aria-selected="true"><strong>Intéréssantes</strong></a>
                </li>
                <li>
                    <a data-toggle="tab" {% if hots_slug is True %} class="aboutcm-active" {% endif %} href="{% url 'questions' 'hots' %}" aria-controls="pills-hot" aria-selected="true"><strong>Hots</strong></a>
                </li>
                <li>
                    <a data-toggle="tab" {% if week_slug is True %} class="aboutcm-active" {% endif %} href="{% url 'questions' 'week' %}" aria-controls="pills-week" aria-selected="false"><strong>Semaine</strong></a>
                </li>
                <li>
                    <a data-toggle="tab" {% if month_slug is True %} class="aboutcm-active" {% endif %} href="{% url 'questions' 'month' %}" aria-controls="pills-month" aria-selected="false"><strong>Mois</strong></a>
                </li>
            </ul>
            <div class="tab-content">
                <div {% if all_slug is True %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="pills-all" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include "./questions_list_list.html" %}
                </div>
                <div {% if interesting_slug is True %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="pills-interesting" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include "./questions_list_list.html" %}
                </div>
                <div {% if hots_slug is True %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="pills-hot" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include "./questions_list_list.html" %}
                </div>
                <div {% if week_slug is True %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="pills-week" role="tabpanel" aria-labelledby="pills-profile-tab">
                    {% include "./questions_list_list.html" %}
                </div>
                <div {% if month_slug is True %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="pills-month" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {% include "./questions_list_list.html" %}
                </div>

                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</div>
<!-- nav-tabs-custom -->

{% endblock %} {% block javascripts %} {{ parent }}
<script>
    $('.nav navpills a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
{% endblock %}