{% extends "base_generic.html" %} {% block title %} {{ question.title}} {% endblock %} {% block content %} {% load qanda_filters %}
<!--<div class="jumbotron">
    <div class="container">
        <h3 class="display-6">Bonjour,<br/> Que voulez-vous savoir à propos du Cameroun?</h3>
        <form>

        </form>
    </div>
</div>-->

<div class="container" style="padding-top:50px;">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <p>
                {% for tag in question.tags.all %}
                <a href="#nothing"><span class="badge badge-secondary">{{ tag.title }}</span></a>{% endfor %}

                <a href="#nothing" id="btnEditQuestionTags"><span class='badge badge-secondary'><i class='ion-edit'></i></span></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h3 class='display-6'><strong>{{ question.title }}</strong></h3>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul class="nav navbar-nav">
                <!-- >-->
                <li>
                    <a href="#nothing" class="text-success"><i class='ion-edit'></i> <strong>Répondre</strong></a>
                </li>
                <li>
                    <a href="#nothing" class="text-warning"><i class='fa fa-exchange'></i> 
                        <strong>Demander une réponse</strong></a>
                </li>
                <li>
                    <a href="#nothing" class="text-danger"> <strong>Suivre la question</strong></a>
                </li>
                <li>
                    <a href="#nothing" class="text-danger"> <strong>Commentaires (25)</strong></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="box box-default no-border">
                <div class="box-header">

                </div>
                <div class="box-body">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bd-example">
                                {{ question.details | safe }}
                                <!--{{ question.details | slice:":500" | safe }} <a href="#">...Plus</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:50px;">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h3 class='display-6 text-danger'>{{ question.answer_set.all | length }} Réponse(s)</h3>
            <strong><hr></strong>
        </div>
        <hr>
    </div>
    {% for answer in answers %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="box box-danger collapsed-box ">
                <div class="box-header with-border">
                    <h3 class="box-title expandable">
                        <i class='ion-person' style="font-size:1.3em"></i>{{ answer.username }}, le {{ answer.created_at }}
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {{ answer.details | safe }}

                    <i class=""></i>
                    <p>
                        <a class="btn btn-success btn-sm text-white">
                            <i class="ion-thumbsup"></i> {{ answer.nb_upvotes }}
                        </a>&nbsp;
                        <a class="btn btn-danger btn-sm  text-white">
                            <i class="ion-thumbsdown"></i> {{ answer.nb_downvotes }}</a>

                        <span class='float-right'>                        
                        <a class="btn btn-white text-primary"><i class='ion-social-facebook'></i></a>
                        <a class="btn btn-white text-primary"><i class='ion-social-twitter'></i></a>
                        <a class="btn btn-white text-danger"><i class="ion-social-googleplus"></i></a>
                    </span>
                    </p>
                    <div class="highlight">
                        <form>
                            <input type="text" class="form-control">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    {% endfor %}
</div>

{% endblock %}