{% extends "base_generic.html" %} {% block title %} Sujets {% endblock %} {% block content %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h3 class='display-5'>Sujets</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                {% for category in categories %}
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        {% if category.image.url != None %}
                        <img class="img-circle" width=75px src="{{ category.image.url }}" alt="Card image cap">
                        {% endif %}
                      <div class="caption">
                        <h3><center>{{ category.name }}</center></h3>
                        <p>
                            <label class='label label-primary pull-left'>5 Questions</label>
                            <label class='label label-danger pull-right'>5 Réponses</label>
                        </p>
                        <br/>
                      </div>
                    </div>
                  </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}